In [225]:
import pandas as pd

Import all the files

In [227]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [229]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [231]:
visits_cart = visits.merge(cart, how = 'left')

visits_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

Step 3: How long is `visits_cart`?

In [233]:
merged_chart = len(visits_cart)
print (merged_chart)

2000

Step 4: How many timestamps are null for `cart_time`?

In [235]:
null_timestamps = len(visits_cart[visits_cart.cart_time.isnull()])
print(null_timestamps)

1652

Step 5: What percentage only visited?

In [237]:
only_visits = float(null_timestamps) / float(merged_chart)
print(only_visits)

0.826

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [239]:
cart_checkout = cart.merge(checkout, how = 'left')

print(cart_checkout.head())

null_checkout_times = len(cart_checkout[cart_checkout.checkout_time.isnull()])

cart_not_checkout = float(null_checkout_times) / float(len(cart))

print("Cart but not checkout:", cart_not_checkout)

                                user_id           cart_time  \
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00

        checkout_time
0 2017-11-07 21:14:00
1                 NaT
2 2017-03-04 11:04:00
3 2017-09-27 08:26:00
4                 NaT
Cart but not checkout: 0.3505747126436782

Step 7: Merge it all together

In [241]:
all_data = visits_cart.merge(cart_checkout).merge(purchase, how = 'left')

print(all_data.head(5))

                                user_id          visit_time  \
0  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
1  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
2  486480e2-98c3-4d51-8f4b-b1c07228ce84 2017-01-27 16:34:00
3  1868e912-b38c-4ef0-8824-5665c42288e5 2017-03-17 11:48:00
4  6d11f38d-03f5-486e-a62d-e05a2e39786b 2017-09-15 16:08:00

            cart_time       checkout_time       purchase_time
0 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
1 2017-08-20 08:31:00                 NaT                 NaT
2 2017-01-27 16:44:00 2017-01-27 17:10:00 2017-01-27 17:12:00
3 2017-03-17 11:56:00 2017-03-17 11:58:00                 NaT
4 2017-09-15 16:30:00                 NaT                 NaT

Step 8: % of users who got to checkout but did not purchase

In [243]:
reached_checkout = all_data[~all_data.checkout_time.isnull()]

checkout_not_purchase = all_data[(all_data.purchase_time.isnull()) & (~all_data.checkout_time.isnull())]

checkout_not_purchase_percent = float(len(checkout_not_purchase)) / float(len(reached_checkout))

print("% of users who got to checkout but did not purchase:",checkout_not_purchase_percent)

% of users who got to checkout but did not purchase: 0.24550898203592814

Step 9: check each part of the funnel, let's print all 3 of them again

In [245]:
print(only_visits)
print("Cart but not checkout:", cart_not_checkout)
print("% of users who got to checkout but did not purchase:",checkout_not_purchase_percent)

print("{} percent of users who visited the page did not add a t-shirt to their cart".format(round(only_visits*100, 2)))
print("{} percent of users who added a t-shirt to their cart did not checkout".format(round(cart_not_checkout*100, 2)))
print("{} percent of users who made it to checkout  did not purchase a shirt".format(round( checkout_not_purchase_percent*100, 2)))

0.826
Cart but not checkout: 0.3505747126436782
% of users who got to checkout but did not purchase: 0.24550898203592814
82.6 percent of users who visited the page did not add a t-shirt to their cart
35.06 percent of users who added a t-shirt to their cart did not checkout
24.55 percent of users who made it to checkout  did not purchase a shirt

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [247]:
all_data['average_total_time'] = all_data.purchase_time - all_data.visit_time

Step 11: examine the results

In [249]:
print(all_data)

                                  user_id          visit_time  \
0    0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
1    6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
2    486480e2-98c3-4d51-8f4b-b1c07228ce84 2017-01-27 16:34:00
3    1868e912-b38c-4ef0-8824-5665c42288e5 2017-03-17 11:48:00
4    6d11f38d-03f5-486e-a62d-e05a2e39786b 2017-09-15 16:08:00
..                                    ...                 ...
451  f46c88d0-2441-40a8-97fe-6841ff6f050d 2017-09-06 08:42:00
452  1f2eb2e0-7afe-4ebd-acc4-9534d6ad9eed 2017-11-21 17:53:00
453  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00
454  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00
455  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00

              cart_time       checkout_time       purchase_time  \
0   2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
1   2017-08-20 08:31:00                 NaT                 NaT
2   2017-01-27 16:44:00 2017-01-27 17:10:00 2017-01-27 17:12:00
3   2017-03-17 11:56:00 2017-03-17 11:58:00                 NaT
4   2017-09-15 16:30:00                 NaT                 NaT
..                  ...                 ...                 ...
451 2017-09-06 09:02:00 2017-09-06 09:22:00 2017-09-06 09:28:00
452 2017-11-21 18:13:00                 NaT                 NaT
453 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:39:00
454 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:35:00
455 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:18:00

    average_total_time
0      0 days 00:44:00
1                  NaT
2      0 days 00:38:00
3                  NaT
4                  NaT
..                 ...
451    0 days 00:46:00
452                NaT
453    0 days 00:32:00
454    0 days 00:28:00
455    0 days 00:11:00

[456 rows x 6 columns]

Step 12: average time to purchase

In [251]:
print(all_data.average_total_time.mean())

0 days 00:43:12.380952380